/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define AS(keycode) &as LS(keycode) keycode

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  .  |  ,  |  P  |  Y  |  F  |     |  G  |  C   |  R   |  L  | / |
// |  A  |  O  |  E  |  U  |  I  |     |  D  |  H   |  T   |  N  | S | 
// |  '  |  Q  |  J  |  K  |  X  |     |  B  |  M   |  W   |  V  | Z |
//             |     |     | ENT |     | SPC | BSPC |      |
                        display-name = "Base";
                        bindings = <
   AS(DOT)            AS(COMMA)           AS(P)           AS(Y)           AS(F)     AS(G)   AS(C)           AS(R)              AS(L)               AS(SLASH)
   &mt LSHIFT AS(A)   &mt LCTRL AS(O)     &mt LALT AS(E)  &mt LGUI AS(U)  AS(I)     AS(D)   &mt RGUI AS(H)  &mt RALT AS(T)     &mt RCTRL AS(N)     &mt RSHIFT AS(S)
   AS(SQT)            AS(Q)               AS(J)           AS(K)           AS(X)     AS(B)   AS(M)           AS(W)              AS(V)               AS(Z)
                                          &none       &none       &lt 1 AS(RET)     &mt RSHIFT SPACE     &kp BSPC      &none
                        >;
                };

                number_layer {
// -----------------------------------------------------------------------------------------
// |     | mLFT | UP  |      |      |             |  =  |  7  |  8  |  9  |  /  |
// |     | LFT  | DWN | RGT  | mRGT |             |     |  4  |  5  |  6  |  .  |
// | cut | copy | pst | undo | redo |             |     |  1  |  2  |  3  |  -  |
//              |     |      |      |             |  0  |     |     |
                        display-name = "Number";
                        bindings = <
   &none     &none       &kp UP     &none     &none        AS(EQUAL)    &kp N7    &kp N8    &kp N9     &kp SLASH
   &none     &kp LEFT    &kp DOWN   &kp RIGHT &none        &none        &kp N4    &kp N5    &kp N6     &kp DOT
   &none     &none       &none      &none     &none        &none        &kp N1    &kp N2    &kp N3     &kp MINUS
                        &none     &none       &none        &kp N0       &kp BSPC      &none
                        >;
                };

                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };
};
